server {

    server_name <AUTH>.edirepository.org;

    listen 443 ssl;

    ssl_certificate /etc/letsencrypt/live/<HOST>.edirepository.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/<HOST>.edirepository.org/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    disable_symlinks off;
    merge_slashes off;

    root /var/www/html;

    location /static {
        alias /home/pasta/auth/webapp/static;
    }

    location / {
        proxy_pass http://127.0.0.1:8080;
        proxy_buffer_size          16k;
        proxy_buffers              4 16k;
    }

}

server {
    server_name <AUTH>.edirepository.org;

    listen 80;

    if ($host = <AUTH>.edirepository.org) {
        return 301 https://$host$request_uri;
    }

    root /var/www/html;
    index index.html index.htm index.nginx-debian.html;

    location / {
        try_files $uri $uri/ =404;
    }
}
