[Unit]
Description=uWSGI instance to serve PASTA dashboard services
After=network.target

[Service]
User=pasta
Group=www-data
WorkingDirectory=/home/pasta/auth
Environment="PATH=/home/pasta/anaconda3/envs/auth/bin"
ExecStart=/home/pasta/anaconda3/envs/auth/bin/uwsgi --ini deployment/auth.ini

[Install]
WantedBy=multi-user.target