{% extends "base-no-menu.html" %}
{% set active_page = "accept" %}

{% block title %}
  Environmental Data Initiative Privacy Policy
{% endblock %}

{% block content %}
  <h1>Environmental Data Initiative - Privacy Policy</h1>

  <p>
    By clicking the "Accept" button, you acknowledge and agree to our
    <a href="https://edirepository.org/about/edi-policy#privacy-policy">Privacy
      Policy</a>.
    This policy explains how we collect, use, and protect your personal information.
  </p>
  <p>
    If you do not agree to our Privacy Policy, you can still browse our data repository
    as a guest, but features that require you to be logged in, will not be available to
    you. If we make any significant changes to this policy, we may ask for your consent
    again. We appreciate your understanding and cooperation.
  </p>
  <p>
    Thank you for your support and use of the Environmental Data Initiative.
  </p>

  <div class="row">
    <div class="col-md-4">
      <form method="POST" action="/auth/accept" class="form" role="form">

        <input type='hidden' name='target' value='{{ target }}'>
        <input type='hidden' name='pasta_token' value='{{ pasta_token }}'>
        <input type='hidden' name='urid' value='{{ urid }}'>
        <input type='hidden' name='full_name' value='{{ full_name }}'>
        <input type='hidden' name='email' value='{{ email }}'>
        <input type='hidden' name='uid' value='{{ uid }}'>
        <input type='hidden' name='idp_name' value='{{ idp_name }}'>
        <input type='hidden' name='idp_token' value='{{ idp_token }}'>

        <span>
          <button type="submit" class="btn btn-secondary" name="action" value="cancel">I Do Not Accept</button>
          <span>&nbsp;</span>
          <button type="submit" class="btn btn-primary" name="action" value="accept">I Accept</button>
        </span>
      </form>
    </div>
  </div>
{% endblock %}
