{% extends 'base.html' %}

{% block title %}
  Select Avatar
{% endblock %}

{% block head %}
  <link rel='stylesheet' href='{{ url_buster('/static/css/avatar.css') }}'>
{% endblock %}

{% block scripts %}
  <script src='{{ url_buster('/static/js/avatar.js') }}'></script>
{% endblock %}

{% block header %}
  <h1 aria-label>Select Avatar
    <a href='{{ url('/ui/help#avatars') }}' target='_blank'>
      <i class='bi bi-question-circle help-button'></i>
    </a>
  </h1>
{% endblock %}

{% block content %}

  <div class='header-container'
    data-highlight-menu='avatar'
  >
  </div>

  <div class='indent'>
    <p>
      Select the avatar you would like to use.
    </p>

    <p>
      <a href='{{ url('/ui/profile') }}' class='icon-text-button'>
        <span><img src='{{ url('/static/svg/back.svg') }}' alt='Back to Profile'></span>
        <span>Back to Profile</span>
      </a>
    </p>

    <div class='indent space grid'>

      {% for avatar in avatar_list %}
        <div class='grid-child'>
          <form action='{{ url('/ui/api/avatar/update') }}' method='post'>
            <input type='hidden' name='profile_id' value='{{ avatar.profile_id }}'>
            <button type='submit' class='avatar-button'>
              <img src='{{ avatar.url }}' alt='Avatar' class='avatar'>
            </button>
          </form>
        </div>
      {% endfor %}

    </div>

  </div>

{% endblock %}
