<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <title>
    {% block title %}
    Environmental Data Initiative
    {% endblock %}
  </title>


  <!-- Bootstrap CSS -->
  <link href='/static/bootstrap/css/bootstrap.css' rel='stylesheet'>
  <!-- Extra styles for auth -->
  <link href='/static/auth.css' rel='stylesheet'>
</head>
<body>


<nav class='navbar navbar-expand-lg navbar-light bg-light'>

  <div class='container-fluid'>

    <a class='navbar-brand' href='#'>
      <img src='/static/images/edi-logo-32x32.png' alt='Environmental Data Initiative Logo' width='32' height='32'>
      <span class='navbar-brand-pad'>Environmental Data Initiative</span>
    </a>

    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarContent' aria-controls='navbarContent' aria-expanded='false'
            aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarContent'>

      <!-- Menu, left -->

      <ul class='navbar-nav mr-auto'>

        <!--<li class='nav-item'>-->
        <!--  <a class='nav-link' href='/'>Home</a>-->
        <!--</li>-->
        <li class='nav-item'>
          <a class='nav-link' href='/profile'>Profile</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/identity'>Identity</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/groups'>Groups</a>
        </li>

        <!--<li class='nav-item dropdown'>-->
        <!--  <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>-->
        <!--    Dropdown-->
        <!--  </a>-->
        <!--  <div class='dropdown-menu' aria-labelledby='navbarDropdown'>-->
        <!--    <a class='dropdown-item' href='#'>Action</a>-->
        <!--    <a class='dropdown-item' href='#'>Another action</a>-->
        <!--    <div class='dropdown-divider'></div>-->
        <!--    <a class='dropdown-item' href='#'>Something else here</a>-->
        <!--  </div>-->
        <!--</li>-->

        <!--<li class='nav-item'>-->
        <!--  <a class='nav-link disabled' href='#'>Disabled</a>-->
        <!--</li>-->
      </ul>
    </div>

    <!--Menu, right-->

    <ul class='navbar-nav mr-auto navbar-right'>
      <li class='nav-item'>
        <a class='nav-link active' href='/login'>Login</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link disabled' href='/register'>Register</a>
      </li>
    </ul>

  </div>
</nav>


<main role='main' class='container'>
  {% block content %}
  {% endblock %}
</main>

<!-- Bootstrap Bundle with Popper -->
<script src='/static/bootstrap/js/bootstrap.bundle.js'></script>
<!-- Bootstrap 5 does not use jQuery, but we do -->
<script src='/static/jquery-3.7.1.js'></script>
<!-- js that runs on all pages -->
<script src='/static/base.js'></script>
</body>
</html>
