<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <meta name='theme-color' content='#ffffff'>
  <link rel='icon' href='{{ url('/favicon.svg') }}'>
  <link rel='manifest' href='{{ url('/manifest.json') }}'>
  {# TODO #}
  {#<link rel='mask-icon' href='mask-icon.svg' color='#000000'>#}
  {#<link rel='apple-touch-icon' href='apple-touch-icon.png'>#}

  <title>
    {% block title %}
      Environmental Data Initiative (EDI)
    {% endblock %}
  </title>

  {# Preload Bootstrap CSS #}
  <link rel='preload' href='{{ url('/static/lib/bootstrap/css/bootstrap.css') }}' as='style'>
  <link href='{{ url('/static/lib/bootstrap/css/bootstrap.css') }}' rel='stylesheet'>
  {# Extra styles for auth #}
  <link rel='preload' href='{{ url_buster('/static/css/base.css') }}' as='style'>
  <link href='{{ url_buster('/static/css/base.css') }}' rel='stylesheet'>
  {% block head %}
  {% endblock %}
</head>

<body>

<nav class='navbar navbar-expand-lg navbar-light bg-light'>

  <div class='container-fluid'>

    <a class='navbar-brand' href='{{ url('/') }}'>
      <img src='{{ url('/static/svg/EDI-logo-no-padding.svg') }}'
           alt='Environmental Data Initiative Logo'>
      <span class='navbar-brand-pad'>Environmental Data Initiative</span>
    </a>

    {% block navbar_menu %}

      <button class='navbar-toggler' type='button' data-toggle='collapse'
              data-target='#navbarContent' aria-controls='navbarContent'
              aria-expanded='false'
              aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>

      {# Menu, left #}

      <ul class='navbar-nav mr-auto'>

        <li class='nav-item'>
          <a class='nav-link {% if not token %}disabled{% endif %}' href='{{ url('/ui/profile') }}'
             data-pages='profile'
          >Profile</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link {% if not token %}disabled{% endif %}' href='{{ url('/ui/identity') }}'
             data-pages='identity'
          >Accounts</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link {% if not token %}disabled{% endif %}' href='{{ url('/ui/group') }}'
             data-pages='group'
          >Groups</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link {% if not token %}disabled{% endif %}'
             href='{{ url('/ui/membership') }}'
             data-pages='membership'
          >Memberships</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link {% if not token %}disabled{% endif %}'
             href='{{ url('/ui/permission/search') }}'
             {#href='{{ url('/ui/permission') }}'#}
             data-pages='permission, search'
          >Permissions</a>
        </li>
      </ul>

      {# Dev dropdown #}

      {% if dev_menu %}
        <div class='dropdown'>
          <button class='btn btn-secondary dropdown-toggle' type='button' id='dropdownMenuButton1'
                  data-bs-toggle='dropdown' aria-expanded='false'>
            Dev
          </button>
          <ul class='dropdown-menu' aria-labelledby='dropdownMenuButton1'>
            <li class='nav-item'>
              <a class='nav-link {% if not token %}disabled{% endif %}'
                 href='{{ url('/ui/perm2') }}'>Perm2</a>
            </li>
            <li><a class='dropdown-item' href='{{ url('/ui/api/dev/profiles') }}'>View Profiles</a>
            </li>
            <li>
              <div class='dropdown-divider'></div>
            </li>
            <li><a class='dropdown-item'
                   href='{{ url('/ui/api/dev/signin/google/117107251210852246141') }}'>Google</a>
            </li>
            <li><a class='dropdown-item'
                   href='{{ url('/ui/api/dev/signin/google/10618168603761292863') }}'>Google</a>
            </li>
            <li><a class='dropdown-item'
                   href='{{ url('/ui/api/dev/signin/github/https://github.com/rogerdahl') }}'>GitHub</a>
            </li>
            <li><a class='dropdown-item'
                   href='{{ url('/ui/api/dev/signin/microsoft/AAAAAAAAAAAAAAAAAAAAAMb5WmAIiWexIVAeFkG_1m4') }}'>Microsoft</a>
            </li>
          </ul>
        </div>
      {% endif %}

      {# Menu, right #}

      <ul class='navbar-nav mr-auto navbar-right'>
        {% if not token %}
          <li class='nav-item'>
            <a class='nav-link active' href='{{ url('/ui/signin') }}'>Sign in</a>
          </li>
        {% endif %}

        {% if token %}
          <li class='nav-item'>
            <div class='row-center-parent'>
              <div class='row-center-child'>
                <div class='dropdown'>
                  <button class='btn btn-link dropdown-toggle' type='button' id='avatarMenuButton'
                          data-bs-toggle='dropdown' aria-expanded='false'><img
                      src='{{ avatar_url }}' alt='Avatar' class='avatar'></button>
                  <ul class='dropdown-menu' aria-labelledby='avatarMenuButton'>
                    <li><a class='dropdown-item' href='{{ url('/ui/profile/edit') }}'>Edit
                      Profile</a></li>
                    <li><a class='dropdown-item' href='{{ url('/ui/avatar') }}'>Select Avatar</a>
                    </li>
                    <li><a class='dropdown-item' href='{{ url('/ui/token') }}'>Token</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class='row-center-child'>
                <a class='nav-link' href='{{ url('/signout') }}'>
                  <img src='{{ url('/static/svg/sign-out.svg') }}' alt='Sign out' class='icon-link'>
                  Sign out
                </a>
              </div>
            </div>
          </li>
        {% endif %}

      </ul>

    {% endblock %}

  </div>
</nav>

<main role='main' class='container'>
  {% block content %}
  {% endblock %}
</main>


{# Modal Privacy Policy accept dialog #}

<div class='modal fade' id='privacyPolicyModal' tabindex='-1' data-bs-backdrop='static'
    {% if profile is not none %}
     data-profile-id='{{ profile.id }}'
     data-policy-accepted='{{ profile.privacy_policy_accepted | lower }}'
    {% endif %}
>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <form action='{{ url('/ui/api/policy/accept') }}' method='post' id='privacyPolicyForm'>
        <div class='modal-header'>
          <h5 class='modal-title'>Environmental Data Initiative Privacy Policy</h5>
          <button type='submit' class='btn-close' data-bs-dismiss='modal' aria-label='Close'
                  name='action'
                  value='decline'>
          </button>
        </div>
        <div class='modal-body'>
          {#<input type='hidden' name='profile-id' value='{% if profile is not none %}{{ profile.id }}{% endif %}'>#}
          <div class='form-group'>
            <p>
              By clicking the 'Accept' button, you acknowledge and agree to our
              <a href='https://edirepository.org/about/edi-policy#privacy-policy'>Privacy Policy</a>.
              This policy explains how we collect, use, and protect your personal information.
            </p>
            <p>
              If you do not agree to our Privacy Policy, you can still browse our data repository
              as a guest, but features that require you to be logged in, will not be available to
              you. If we make any significant changes to this policy, we may ask for your consent
              again. We appreciate your understanding and cooperation.
            </p>
            <p>
              Thank you for your support and use of the Environmental Data Initiative.
            </p>
          </div>
          <div class='modal-footer'>
            <button type='submit' class='btn btn-secondary' data-bs-dismiss='modal' name='action'
                    value='decline'>
              I Decline
            </button>
            <button type='submit' class='btn btn-primary' name='action' value='accept'>
              I Accept
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{# Modal error dialog #}
<div class='modal fade' id='errorModal' tabindex='-1' aria-labelledby='errorModalLabel'
     aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='errorModalLabel'>Error</h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        <div class=''>
          <p>An error occurred. Please try again. If the error persists, contact us with the
            details below:</p>
          <p id='errorMsg'></p>
        </div>
        <input type='button' id='copyErrorButton' class='btn btn-secondary'
               value='Copy Error Details'>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-primary' data-bs-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>
</div>

{# Bootstrap Bundle with Popper #}
<script src='{{ url('/static/lib/bootstrap/js/bootstrap.bundle.js') }}'></script>
{# JS that runs on all pages #}
<script src='{{ url_buster('/static/js/base.js') }}'></script>
{% block scripts %}
  {# By importing scripts just before the /body tag, we don't have to wrap scripts in checks for
  fully loaded DOM #}
{% endblock %}
</body>
</html>
