{% extends "base.html" %}
{% set active_page = "identity" %}

{% block title %}
  Groups
{% endblock %}

{% block head %}
  <link rel='stylesheet' href='/static/css/group.css'>
{% endblock %}

{% block scripts %}
  <script src='/static/js/group.js'></script>
{% endblock %}

{% block content %}
  <div class='header-container'>
    <h1 aria-label>Groups</h1>
  </div>

  <div class='indent'>
    <p>
      Groups allow you to organize access to your data objects efficiently. Instead of granting access to individuals
      one by one, you can add them to a group and manage access collectively. Adding a member to an existing group
      grants them immediate access to all resources the group has access to, while removing them revokes that access.
    </p>
    <p>
      {% if not group_list %}
        You have not created any groups yet.
      {% else %}
        Your groups:
      {% endif %}
    </p>

    <div class='indent'>
      <div class='main-grid'>
        {% for group in group_list %}
          <div class='child-grid'>
            <div class='row-center-parent'>
              {# Edit #}
              <div class='child-grid-child'>
                <button class='icon-button'
                        data-bs-toggle='modal'
                        data-bs-target='#groupModal'
                        data-form-target='/group/edit'
                        data-title='Edit group'
                        data-group-id='{{ group.id }}'
                        data-group-name='{{ group.name }}'
                        data-group-description='{{ group.description or '' }}'
                        data-submit-text='Save'
                >
                  <img src="/static/svg/edit-pencil.svg" alt="Edit">
                </button>
              </div>
              {# Name #}
              <div class='child-grid-child grid-child-title'>{{ group.name }}</div>
            </div>

            {# Description #}
            <div class='child-grid-child description'>{{ group.description or '' }}</div>

            <div class='row-center-parent button-row'>
              {# Members #}
              {#<button >#}
              <a href='/ui/group/member/{{ group.id }}' class='icon-text-button'>
                <span><img src="/static/svg/group.svg" alt="Edit Members"></span>
                <span>{{ group.member_count }}</span>
                {% if group.member_count == 1 %}
                  <span>member</span>
                {% else %}
                  <span>members</span>
                {% endif %}
              </a>
              {# Copy ID #}
              <div class='row-center-child'>
                <div class="pasta-id-parent">
                  <div class="pasta-id-child-text">
                    {{ group.grid }}
                  </div>
                  <div class="pasta-id-child-icon">
                    <img src="/static/svg/copy.svg" alt="Copy Group Identifier">
                  </div>
                </div>
              </div>

              {# Remove #}
              <div class='row-center-child'>
                <button class='icon-text-button' data-bs-toggle='modal'
                        data-bs-target='#deleteGroupModal'
                        data-group-id='{{ group.id }}'
                        data-group-name='{{ group.name }}'
                >
                  <span><img src="/static/svg/trash.svg" alt="Unlink"></span>
                  <span>Remove</span>
                </button>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class='indent'>
    <button type='button' class='btn btn-primary' data-bs-toggle='modal'
            data-bs-target='#groupModal'
            data-form-target='/group/new'
            data-title='Create a new group'
            data-group-id=''
            data-group-name=''
            data-group-description=''
            data-submit-text='Add'
    >
      New Group
    </button>
  </div>

  {# New/edit group modal #}
  <div class='modal fade' id='groupModal' tabindex='-1' data-bs-backdrop='static'>
    <div class='modal-dialog modal-dialog-centered'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title' id='groupTitle'></h5>
          <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
        </div>
        <div class='modal-body'>
          <form method='post' id='groupForm' class='needs-validation' novalidate>
            <input type='hidden' id='groupId' name='group-id'>
            <div class='form-group'>
              <p>
                The name and description are only visible to you and will help you identify the group later.
              </p>
              <label for='groupName'>Name</label>
              <input type='text' class='form-control' id='groupName' name='name' required pattern='.{3,}'>
              <div class='invalid-feedback'>
                Name must be at least 3 characters long.
              </div>
            </div>
            <div class='form-group'>
              <label for='groupDescription'>Description (optional)</label>
              <input type='text' class='form-control' id='groupDescription' name='description'>
            </div>
            <div class='modal-footer'>
              <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Cancel</button>
              <button type='submit' class='btn btn-primary' id='groupButton'>Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {# Delete group modal #}
  <div class='modal fade' id='deleteGroupModal' tabindex='-1' data-bs-backdrop='static'>
    <div class='modal-dialog modal-dialog-centered'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title'>Remove Group</h5>
          <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
        </div>
        <div class='modal-body'>
          <form action='/group/delete' method='post' id='deleteGroupForm'>
            <input type='hidden' id='deleteGroupId' name='group-id'>
            <div class='form-group'>
              <p>
                <span>Are you sure you want to remove group </span>
                "<span id='deleteGroupName' class='highlight'></span>"?
                <span>
                </span>
              </p>
              <p>
                <strong>Note:</strong> This will remove all members from the group and revoke their access to all
                resources the group has access to.
              </p>
            </div>
            <div class='modal-footer'>
              <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Cancel</button>
              <button type='submit' class='btn btn-danger'>Remove</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
