{% extends 'base.html' %}
{% set active_page = 'identity' %}

{% block title %}
  Accounts
{% endblock %}

{% block head %}
  <link rel='stylesheet' href='{{ url_buster('/static/css/identity.css') }}'>
{% endblock %}

{% block scripts %}
  <script src='{{ url_buster('/static/js/identity.js') }}'></script>
{% endblock %}

{% block content %}

  {#<div class='indent'>#}
  {#  <p>#}
  {#    This is a list of your profiles and their associated identity provider accounts.#}
  {#  </p>#}

    <div class='indent'>

      <div class='grid'>

        {% for iter_profile in profile_list %}

          {% if loop.index == 1 %}
            <div class='grid-row'>
              <div class='grid-child grid-child-span-all'>
                The profile with which you are currently signed in (your primary profile):
              </div>
            </div>
          {% endif %}

          {% if loop.index == 2 %}
            <div class='grid-child grid-child-span-all'>
              The following profile(s) are linked to your primary profile:
            </div>
          {% endif %}

          <div class='grid-row'>
            {# Avatar #}
            <div class='grid-child'>
              <img src='{{ iter_profile.avatar_url }}' alt='Avatar' class='avatar avatar-smaller'>
            </div>
            {# IdP logo #}
            <div class='grid-child'>
              <div class='idp-logo'>
                {% if iter_profile.idp_name == IdpName.GOOGLE %}
                  <img class='idp-logo-google' src='{{ url('/static/svg/idp/google-text.svg') }}'
                       alt='Google'>
                {% elif iter_profile.idp_name == IdpName.MICROSOFT %}
                  <img class='idp-logo-microsoft' src='{{ url('/static/svg/idp/microsoft.svg') }}'
                       alt='Microsoft'>
                {% elif iter_profile.idp_name == IdpName.GITHUB %}
                  <img class='idp-logo-github-symbol'
                       src='{{ url('/static/svg/idp/github-symbol.svg') }}' alt='GitHub'>
                  <img class='idp-logo-github-text'
                       src='{{ url('/static/svg/idp/github-text.svg') }}' alt='GitHub'>
                {% elif iter_profile.idp_name == IdpName.ORCID %}
                  <img class='idp-logo-orcid' src='{{ url('/static/svg/idp/orcid.svg') }}'
                       alt='ORCID'>
                {% elif iter_profile.idp_name == IdpName.LDAP %}
                  <img class='idp-logo-edi-ldap' src='{{ url('/static/svg/idp/edi-logo.svg') }}'
                       alt='EDI LDAP'>
                {% else %}
                  {{ iter_profile.idp_name }}
                {% endif %}
              </div>
            </div>
            {# email #}
            <div class='grid-child'>
              {{ iter_profile.email or '' }}
            </div>
            {# Common name #}
            <div class='grid-child'>
              {{ iter_profile.common_name or '' }}
            </div>
            {# Copy ID #}
            <div class='grid-child'>
              <div class='edi-id-parent'>
                <div class='edi-id-child-text'>
                  {{ iter_profile.edi_id }}
                </div>
                <div class='edi-id-child-icon'>
                  <img src='{{ url('/static/svg/copy.svg') }}'
                       alt='Copy EDI Identifier'
                       class='edi-id-copy-button'
                  >
                </div>
              </div>
            </div>
            {# Unlink button #}
            <div class='grid-child'>
              {% if loop.index >= 2 %}
                <button class='icon-text-button' data-bs-toggle='modal'
                        data-bs-target='#unlinkProfileModal'
                        data-profile-id='{{ iter_profile.profile_id }}'
                >
                  <span><img src='{{ url('/static/svg/unlink.svg') }}' alt='Unlink'></span>
                  <span>Unlink</span>
                </button>
              {% endif %}
            </div>
          </div>

          {% if profile_list|length == 1 %}
            <div class='grid-row'>
              <div class='grid-child grid-child-span-all'>
                You have no linked profiles.
              </div>
            </div>
          {% endif %}

        {% endfor %}

      </div>
    </div>

  {#</div>#}

  <div class='indent'>
    <div class='d-flex align-items-center gap-2'>
      <a href='{{ url('/ui/signin/link') }}' class='btn btn-primary'>Link Profile</a>
      <a href='{{ url('/ui/help#linking') }}' target='_blank'>
        <i class='bi bi-question-circle help-button'></i>
      </a>
    </div>
  </div>

  {# Modal unlink confirmation dialog #}

  <div class='modal fade' id='unlinkProfileModal' tabindex='-1' data-bs-backdrop='static'>
    <div class='modal-dialog modal-dialog-centered'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title'>Unlink this account</h5>
          <button type='button' class='btn-close' data-bs-dismiss='modal'
                  aria-label='Close'></button>
        </div>
        <div class='modal-body'>
          <form action='{{ url('/ui/api/profile/unlink') }}' method='post' id='unlinkProfileForm'>
            <input type='hidden' name='unlink-profile-id' id='unlinkProfileId'>
            <div class='form-group'>
              <p>
                Unlink this profile from your primary profile?
                <a href='{{ url('/ui/help#unlinking') }}' target='_blank'>
                  <i class='bi bi-question-circle help-button'></i>
                </a>
              </p>
            </div>
            <div class='modal-footer'>
              <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Cancel
              </button>
              <button type='submit' class='btn btn-primary'>Unlink</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
