{% extends 'base.html' %}
{% set active_page = 'index' %}

{% block title %}
  Home
{% endblock %}

{% block content %}

  {#<div class='container-left-margin'>#}

  <h3>Profiles</h3>

  <table>
    <thead>
    <tr>
      <td>edi_id</td>
      <td>Common Name</td>
      <td>Email</td>
      <td>Privacy Policy Accepted</td>
      <td>Privacy Policy Accepted Date</td>
      <td>IdP</td>
    </tr>
    </thead>
    <tbody>
    {% for profile in profile_list %}
      <tr>
      <td>{{ profile.edi_id }}</td>
      <td>{{ profile.common_name }}</td>
      <td>{{ profile.email }}</td>
      <td>{{ profile.privacy_policy_accepted }}</td>
      <td>{{ profile.privacy_policy_accepted_date }}</td>
      <td>
        <table>
          <thead>
          <tr>
            <td>IdP Name</td>
            <td>IdP Email</td>
          </tr>
          </thead>
          <tbody>
          {% for identity in profile.identities %}
            <tr>
              <td>{{ profile.idp_name }}</td>
              <td>{{ identity.email }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </td>
    {% endfor %}
    </tr>
    </tbody>
  </table>

  {#</div>#}

{% endblock %}
