{% extends 'base.html' %}

{% block title %}
  Perm2
{% endblock %}

{% block head %}
  <link rel='stylesheet' href='{{ url('/static/css/permission.css') }}'>
  <link rel='stylesheet' href='{{ url('/static/css/perm2.css') }}'>
{% endblock %}

{% block scripts %}
  <script src='{{ url('/static/js/perm2.js') }}'></script>
{% endblock %}

{% block content %}

  <div>Roots: {{ root_count }}</div>

  <div id='header-container'
       data-root-path='{{ url('') }}'
       data-root-count='{{ root_count }}'
  >
  </div>

  <div id="scroll-container">
    <div id="spacer"></div>
    <div id="visible-rows"></div>
  </div>


{% endblock %}
