{% extends 'base.html' %}
{% set highlight_menu = 'permission' %}

{% block title %}
  Permissions
{% endblock %}

{% block head %}
  <link rel='stylesheet' href='{{ url_buster('/static/css/permission.css') }}'>
{% endblock %}

{% block scripts %}
  <script src='{{ url_buster('/static/js/permission.js') }}'></script>
{% endblock %}

{% block header %}
  <h1 aria-label>Permissions
    <a href='{{ url('/ui/help#permissions') }}' target='_blank'>
      <i class='bi bi-question-circle help-button'></i>
    </a>
  </h1>
{% endblock %}

{% block content %}

  <div class='header-container'
       data-highlight-menu='permission'
       data-base-path='{{ url('') }}'
       data-public-edi-id='{{ public_edi_id }}'
       data-authenticated-edi-id='{{ authenticated_edi_id }}'
       data-resource-type='{{ resource_type }}'
       data-root-count='{{ root_count }}'
       data-search-uuid='{{ search_uuid }}'
       data-enable-public-access-warning='{{ enable_public_access_warning | lower }}'
  >
  </div>

  <div class='indent'>
    <p>
      <a href='{{ url('/ui/permission/search') }}' class='icon-text-button'>
        <span><img src='{{ url('/static/svg/back.svg') }}' alt='Back to Resource Search'></span>
        <span>Back to Resource Search</span>
      </a>
    </p>
  </div>

  <div class='main-content'>
    <div class='panel'>
      <div class="panel-top">
        <h4>Select Resources</h4>
        <span>{{ search_result_msg }}</span>
      </div>
      <div class='panel-bottom'>
        <div id="resourceTree">
          <div id="spacer"></div>
          <div id="visible-trees"></div>
        </div>
      </div>
    </div>
    <div class='panel'>
      <div class="panel-top">
        <h4>
          Set Permissions
        </h4>
        <div>
          <input type='text' class='form-control' id='principalSearch' autocomplete="off"
                 spellcheck="false" maxlength='64'>
          <div id='principalList' tabindex='0' class='form-control'></div>
        </div>
      </div>
      <div class='panel-bottom'>
        <div class='permission-grid' id='permissionList'>
          {#<div class='grid-msg'>Loading permissions...</div>#}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
