{% extends 'base.html' %}
{% set active_page = 'profile' %}

{% block title %}
  Edit Profile
{% endblock %}

{% block head %}
  <link rel='stylesheet' href='{{ url_buster('/static/css/profile.css') }}'>
{% endblock %}

{% block scripts %}
  <script src='{{ url_buster('/static/js/profile_edit.js') }}'></script>
{% endblock %}

{% block content %}

  <div class='indent'>

    <form id='editProfileForm' class='needs-validation' novalidate
          action='{{ url('/ui/api/profile/edit/update') }}' method='post'
    >
      <div class='form-group'>
        <label for='modalName'>Name</label>
        <input type='text' class='form-control' id='modalName' name='common-name' required pattern='.{3,}'
               value='{{ profile.common_name or '' }}'>
        <div class='invalid-feedback'>
          Name must be at least 3 characters long.
        </div>
      </div>
      <div class='form-group'>
        <label for='modalEmail'>Email</label>
        <input type='email' class='form-control' id='modalEmail' name='email' value='{{ profile.email or '' }}'>
      </div>
      <div class='form-group'>
        <label for='modalNotifications'>Email notifications</label>
        <input type='checkbox' class='form-check-input' id='modalNotifications'
               name='email-notifications' {{ 'checked' if profile.email_notifications else '' }}>
      </div>
      <div class='form-group'>
        <button type='submit' class='btn btn-primary' id='saveProfileButton'>Save Changes</button>
      </div>
    </form>

  </div>

  <h1 aria-label>Danger Zone</h1>

  <div class='indent'>
    <div class='form-group'>
      <button class='btn btn-danger' data-bs-toggle='modal'
              data-bs-target='#deleteProfileModal'
      >
        <span>Delete Profile</span>
      </button>
    </div>
  </div>

  {# Modal delete profile confirmation dialog #}

  <div class='modal fade' id='deleteProfileModal' tabindex='-1' data-bs-backdrop='static'>
    <div class='modal-dialog modal-dialog-centered'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title'>Delete your profile</h5>
          <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
        </div>
        <div class='modal-body'>
          <form action='{{ url('/ui/api/profile/edit/delete') }}' method='post' id='deleteProfileForm'>
            <div class='form-group'>
              <p>
                Are you sure you want to delete your profile?
              </p>
              <ul>
                <li>
                  Your account(s) will be unlinked, and your profile, will be deleted from the system.
                </li>
                <li>
                  Your access to resources <b>created by you</b> will be revoked.
                </li>
                <li>
                  Your access to resources <b>granted to you</b> by others, both directly and via group memberships, will be revoked.
                </li>
                <li>
                  Access <b>granted by you</b> to others will be revoked.
                </li>
                <li>
                  <b>Groups created by you</b> will be removed, and access <b>granted to their members</b> will be revoked.
                </li>
              </ul>
            </div>
            <div class='form-group'>
              <label for='modalName'>
                Type 'DELETE' in the box below, then click 'Delete Profile' to confirm that you wish to
                delete your profile. <b>This action cannot be undone</b>.
              </label>
              <input type='text' class='form-control' id='modalName' name='name' required pattern='DELETE'>
            </div>
            <div class='modal-footer'>
              <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Cancel</button>
              <button type='submit' class='btn btn-danger'>Delete Profile</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
