{% extends "base.html" %}
{% set active_page = "profile" %}

{% block title %}
  Profile
{% endblock %}

{% block head %}
{% endblock %}

{% block scripts %}
  <script src='/static/js/profile.js'></script>
{% endblock %}

{% block content %}
  <div class='header-container'>
    <h1 aria-label>
      <span class='row-low-parent'>
        <span class='row-low-child'>
          Profile
        </span>
        <span class='row-low-child icon-button'>
          <img src='/static/svg/edit-pencil.svg' alt='Edit profile' id='editProfile'>
        </span>
        {#<button type='submit' class='icon-text-button' data-bs-toggle='modal' data-bs-target='#deleteGroupModal' id='editProfile'>#}
        {#  <span><img src="/static/svg/edit-pencil.svg" alt="Edit profile"></span>#}
        {#</button>#}
      </span>
    </h1>
  </div>

  <div class='align-content-center space-below'>
    <div class='row-low-parent'>
      <div class='row-low-child'>
        <img src='{{ avatar_url }}' alt='Avatar' class='img-thumbnail avatar' id='avatarImg'>
      </div>
      <div class='row-low-child icon-button'>
        <a href='/avatar'>
          <img src='/static/svg/edit-pencil.svg' alt='Select avatar' id='selectAvatar'>
        </a>
      </div>
    </div>
    <div class='profile-name' id='profileName'>{{ profile.full_name or '' }}</div>
  </div>

  <h1 aria-label>Contact</h1>

  <div class='indent'>

    <div class='grid-parent'>
      <div class='grid-child label'>Email:</div>
      <div class='grid-child' id='profileEmail'>{{ profile.email or '' }}</div>

      <div class='grid-child label'>Send notifications:</div>
      <div class='grid-child'>
        <input class="form-check-input" type="checkbox" value=""
               id="profileNotifications"
            {% if profile.email_notifications %}
               checked
            {% endif %}
               disabled
        >
        <label class="form-check-label" for="profileNotifications">
        </label>

      </div>

      <div class='grid-child label'>Organization:</div>
      <div class='grid-child' id='profileOrganization'>{{ profile.organization or '' }}</div>
      <div class='grid-child label'>Association:</div>
      <div class='grid-child' id='profileAssociation'>{{ profile.association or '' }}</div>
    </div>

  </div>

  <h1 aria-label>Accounts</h1>

  <div class='indent'>
    <a href="/signin/link" class="btn btn-primary">Link Account</a>
  </div>

  {# Modal edit dialog #}

  <div class='modal fade' id='editProfileModal' tabindex='-1' data-bs-backdrop='static'>
    <div class='modal-dialog modal-dialog-centered'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title'>Edit Profile</h5>
          <button type='button' class='btn-close' data-bs-dismiss='modal'
                  aria-label='Close'></button>
        </div>
        <div class='modal-body'>
          <form id='editProfileForm'>
            <div class='form-group'>
              <label for='modalName'>Name</label>
              <input type='text' class='form-control' id="modalName" name='name'>
            </div>
            <div class='form-group'>
              <p>
              <label for='modalEmail'>Email</label>
              <input type='email' class='form-control' id="modalEmail" name='email'>
                </p>
              <p>
              <label for='modalNotifications'>Send notifications</label>
              <input type='checkbox' class='form-check-input' id="modalNotifications" name='email_notifications'>
              </p>
            </div>
            <div class='form-group'>
              <label for='modalOrganization'>Organization</label>
              <input type='text' class='form-control' id="modalOrganization" name='organization'>
            </div>
            <div class='form-group'>
              <label for='modalAssociation'>Association</label>
              <input type='text' class='form-control' id="modalAssociation" name='association'>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
          </button>
          <button type="button" class="btn btn-primary" id="saveProfileButton">Save
            Changes
          </button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
