{% extends 'base.html' %}
{% set active_page = 'profile' %}

{% block title %}
  Profile
{% endblock %}

{% block head %}
  <link rel='stylesheet' href='{{ url('/static/css/profile.css') }}'>
{% endblock %}

{% block scripts %}
  <script src='{{ url('/static/js/profile.js') }}'></script>
{% endblock %}

{% block content %}
  <div class='header-container'>
    <h1 aria-label>
      <span class='row-low-parent'>
        <span class='row-low-child'>
          Profile
        </span>
        <span class='row-low-child icon-button'>
          <img src='{{ url('/static/svg/edit-pencil.svg') }}' alt='Edit profile' id='editProfile'>
        </span>
      </span>
    </h1>
  </div>

  <div class='align-content-center space-below'>
    <div class='row-low-parent'>
      <div class='row-low-child'>
        <img src='{{ avatar_url }}' alt='Avatar' class='img-thumbnail avatar' id='avatarImg'>
      </div>
      <div class='row-low-child icon-button'>
        <a href='{{ url('/ui/avatar') }}'>
          <img src='{{ url('/static/svg/edit-pencil.svg') }}' alt='Select avatar' id='selectAvatar'>
        </a>
      </div>
    </div>
    <div class='profile-name' id='profileName'>{{ profile.full_name or '' }}</div>
  </div>

  <h1 aria-label>Contact</h1>

  <div class='indent'>

    <div class='grid-parent'>
      {# Email #}
      <div class='grid-child label'>Email:</div>
      <div class='grid-child' id='profileEmail'>{{ profile.email or '' }}</div>
      {# Email notifications #}
      <div class='grid-child label'>Email notifications:</div>
      <div class='grid-child' id='profileNotifications'
           data-notifications='{{ profile.email_notifications | lower }}'
      >
        {{ 'Yes' if profile.email_notifications else 'No' }}
      </div>

      <div class='grid-child label'>Organization:</div>
      <div class='grid-child' id='profileOrganization'>{{ profile.organization or '' }}</div>
      <div class='grid-child label'>Association:</div>
      <div class='grid-child' id='profileAssociation'>{{ profile.association or '' }}</div>
    </div>

  </div>

  {# Modal edit dialog #}

  <div class='modal fade' id='editProfileModal' tabindex='-1' data-bs-backdrop='static'>
    <div class='modal-dialog modal-dialog-centered'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title'>Edit Profile</h5>
          <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
        </div>
        <div class='modal-body'>
          <form id='editProfileForm' class='needs-validation' novalidate>
            <div class='form-group'>
              <label for='modalName'>Name</label>
              <input type='text' class='form-control' id='modalName' name='name' required pattern='.{3,}'>
              <div class='invalid-feedback'>
                Name must be at least 3 characters long.
              </div>
            </div>
            <div class='form-group'>
              <p>
                <label for='modalEmail'>Email</label>
                {# type='email' is validated by the browser #}
                <input type='email' class='form-control' id='modalEmail' name='email'>
              </p>
              <p>
                <label for='modalNotifications'>Email notifications</label>
                <input type='checkbox' class='form-check-input' id='modalNotifications' name='email-notifications'>
              </p>
            </div>
            <div class='form-group'>
              <label for='modalOrganization'>Organization</label>
              <input type='text' class='form-control' id='modalOrganization' name='organization'>
            </div>
            <div class='form-group'>
              <label for='modalAssociation'>Association</label>
              <input type='text' class='form-control' id='modalAssociation' name='association'>
            </div>
          </form>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>
          <button type='button' class='btn btn-primary' id='saveProfileButton'>Save Changes
          </button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
