{% extends 'base.html' %}
{% set highlight_menu = 'signin' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block head %}
  <link rel='stylesheet' href='{{ url_buster('/static/css/signin.css') }}'>
{% endblock %}

{% block scripts %}
  <script src='{{ url_buster('/static/js/signin.js') }}'></script>
{% endblock %}

{% block content %}

  <div class='header-container'
       data-highlight-menu='signin'
  >
  </div>

  <div class='indent'>
  <p>
    {{ text | safe }}
  </p>

  {% if login_type == 'link' %}
    <p>
      Sign in to the profile you wish to link to this profile.
    </p>
    <p>
      <a href='{{ url('/ui/identity') }}' class='icon-text-button'>
        <span>
          <img src='{{ url('/static/svg/back.svg') }}' alt='Back to Accounts'>
        </span>
        <span>Back to Accounts</span>
      </a>
    </p>

  {% endif %}

  <div class='indent'>
    {# Google #}
    <div class='grid'>
      <a href='{{ url('/login/google') }}?login_type={{ login_type }}&target={{ target_url }}'>
        <div class='grid-child'>
          <div class='grid-child-button'>
            <img class='grid-logo-google' src='{{ url('/static/svg/idp/google-text.svg') }}'
                 alt='Log in with Microsoft'>
          </div>
        </div>
      </a>
      {# Microsoft #}
      <a href='{{ url('/login/microsoft') }}?login_type={{ login_type }}&target={{ target_url }}'>
        <div class='grid-child'>
          <div class='grid-child-button'>
            <img class='grid-logo-microsoft' src='{{ url('/static/svg/idp/microsoft.svg') }}'
                 alt='Log in with Microsoft'>
          </div>
        </div>
      </a>
      {# GitHub #}
      <a href='{{ url('/login/github') }}?login_type={{ login_type }}&target={{ target_url }}'>
        <div class='grid-child'>
          <div class='grid-child-button'>
            <img class='grid-logo-github-symbol'
                 src='{{ url('/static/svg/idp/github-symbol.svg') }}'
                 alt='Log in with GitHub'>
            <img class='grid-logo-github-text' src='{{ url('/static/svg/idp/github-text.svg') }}'
                 alt='Log in with GitHub'>
          </div>
        </div>
      </a>
      {# ORCID #}
      <a href='{{ url('/login/orcid') }}?login_type={{ login_type }}&target={{ target_url }}'>
        <div class='grid-child'>
          <div class='grid-child-button'>
            <img class='grid-logo-orcid' src='{{ url('/static/svg/idp/orcid.svg') }}'
                 alt='Log in with ORCID'>
          </div>
        </div>
      </a>
      {# EDI LDAP #}
      <div class='grid-child'>
        <div class='grid-child-button'
             data-bs-toggle='modal'
             data-bs-target='#ldapLoginModal'
        >
          <img class='grid-logo-edi' src='{{ url('/static/svg/idp/edi-logo.svg') }}'
               alt='Log in with EDI'>
          EDI
        </div>
      </div>

    </div>

  </div>

  <p>
    Please review our
    <a href='https://edirepository.org/about/edi-policy#privacy-policy'>privacy policy</a>
    to learn what information we collect, how we use it, and your privacy rights.
  </p>

  <div class='modal fade' id='ldapLoginModal' tabindex='-1' data-bs-backdrop='static'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title'>Sign in with your EDI (LDAP) account</h5>
          <button type='button' class='btn-close' data-bs-dismiss='modal'
                  aria-label='Close'></button>
        </div>
        <div class='modal-body'>
          <form id='loginForm' action='{{ url('/ui/api/signin/ldap') }}' method='post'>
            <div>
              <label for='username' class='form-label'>User name:</label>
            </div>
            <div>
              <input type='text' class='form-control' id='username' name='username'
                     autocomplete='username' required>
            </div>
            <div>
              <label for='password' class='form-label'>Password:</label>
            </div>
            <div>
              <input type='password' class='form-control' id='password' name='password'
                     autocomplete='current-password' required>
            </div>
            <div>
            </div>
            <div>
              <a href='https://dashboard.edirepository.org/dashboard/auth/reset_password_init'>
                Forgot password
              </a>
            </div>
            <div>
            </div>
            <div class='modal-footer'>
              <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Cancel
              </button>
              <button type='submit' class='btn btn-primary'>Sign in</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

