{% extends 'base.html' %}
{% set active_page = 'signin' %}

{% block title %}
  Reset EDI User Password
{% endblock %}

{% block head %}
  <link rel='stylesheet' href='/static/css/signin.css'>
{% endblock %}

{% block scripts %}
  <script src='/static/js/signin.js'></script>
{% endblock %}

{% block content %}
  <div class='header-container'>
    <h1 aria-label>Reset EDI User Password</h1>
  </div>

  <div class='indent'>
    <p>NOT IMPLEMENTED</p>

    <a href='/signin'>Back to Sign in</a>

    <div class='indent'>
      <div id='resetModal' aria-labelledby='resetModalLabel' aria-hidden='true'>
        <div class='modal-dialog'>
          <div class='modal-content'>
            <div class='modal-body'>
              <form id='resetForm'>
                <div class=''>
                  <label for='username' class='form-label'>User name:</label>
                </div>
                <div class='pb-3'>
                  <input type='text' class='form-control' id='username' required>
                </div>
                <div>
                  <button type='button' class='btn btn-secondary' id='clearFormButton'>Clear</button>
                  <button type='submit' class='btn btn-primary'>Reset Password</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


{% endblock %}

