{% extends 'base.html' %}
{% set active_page = 'profile' %}

{% block title %}
  EDI Authentication Token
{% endblock %}

{% block head %}
  <link rel='stylesheet' href='{{ url('/static/css/token.css') }}'>
{% endblock %}

{% block scripts %}
  <script src='{{ url('/static/js/token.js') }}'></script>
{% endblock %}

{% block content %}
  <div class='header-container'
       data-root-path='{{ url('') }}'
  >
    <h1 aria-label>EDI Authentication Token</h1>
  </div>

  <div class='indent'>
    <p>
      The EDI Authentication Token is your personal access token for the EDI repository. It's a JSON
      Web Token (JWT), containing user profile information and permissions. When you sign in to an
      EDI service, your browser receives the token as a cookie.
    </p>
  </div>

  <h2>Payload</h2>

  <div class='indent'>
    <p>
      The following is the payload of the token with which you are currently signed in:
    </p>
    <div class='indent'>
      <pre>{{ token_pp }}</pre>
    </div>
  </div>

  <h2>API access</h2>

  <div class='indent'>
    <p>
      In order to authenticate your requests to the EDI repository API and programmatically access
      your resources, copy or download the token and pass it in a
      <span class='highlight'>Cookie: edi-token=...</span>
      header of your requests.
    </p>
    <p>
      The token is valid for <span class='highlight'>{{ lifetime }} hours</span>. You may refresh
      your token programmatically any time before it expires, by passing it to the refreshToken()
      API method. After your token expires, however, it cannot be refreshed, and you will need to
      sign in again to obtain a new token.
    </p>
  </div>

  <div class='indent'>
    <h3>Copy to clipboard</h3>
    <div class='indent'>
      <span>
        <button id='copyTokenButton' class='btn btn-primary'>Copy Token</button>
        <span id='copyStatus' class='copy-status'></span>
      </span>
    </div>
  </div>

  <div class='indent'>
    <h3>Download</h3>
    <div class='indent'>
      <p>
        Filename: <span class='highlight'>{{ filename }}</span>.
      </p>
      <a href="{{ url('/token/download') }}" class='btn btn-primary'>Download Token</a>
    </div>
  </div>
{% endblock %}
