import logging
import pathlib


class Config(object):
    HERE_PATH = pathlib.Path(__file__).parent.resolve()

    # Flask app
    SECRET_KEY = 'Flask app secret key'
    DEBUG = False
    
    # Local development certificate paths
    CA_CERT = "LOCAL_CA_CERT"
    SERVER_CERT = "LOCAL_SERVER_CERT"
    SERVER_KEY = "LOCAL_SERVER_KEY"

    # Logging
    LOG_LEVEL = logging.DEBUG
    LOG_DB_QUERIES = LOG_LEVEL == logging.DEBUG

    # Filesystem paths
    STATIC_PATH = HERE_PATH / 'static'
    DB_PATH = (HERE_PATH / '../db.sqlite').resolve()
    LOG_PATH = HERE_PATH / '../auth.log'

    # PASTA+ authentication token
    PUBLIC = 'public'
    SYSTEM = 'https://pasta.edirepository.org/authentication'
    VETTED = 'vetted*authenticated'
    AUTHENTICATED = 'authenticated'
    TTL = 8 * 60 * 60 * 1000  # 8 hours

    # Token signing certificate
    PUBLIC_KEY_PATH = '/path/to/public_key.crt'
    PRIVATE_KEY_PATH = '/path/to/private_key.key'

    CALLBACK_BASE_URL = 'https://auth.edirepository.org/auth/login'

    #
    # Identity Providers
    #

    # LDAP

    # LDAP service to use for each supported domain
    LDAP_DOMAIN_DICT = {
        'o=EDI,dc=edirepository,dc=org': 'ldap.edirepository.org',
    }

    # GitHub OAuth client

    # Client ID and Secret to use for each supported target
    GITHUB_CLIENT_DICT = {
        'https://portal.edirepository.org': (
            'portal-client-id',
            'portal-client-secret',
        ),
        'https://portal-s.edirepository.org': (
            'portal-s-client-id',
            'portal-s-client-secret',
        ),
        'https://portal-d.edirepository.org': (
            'portal-d-client-id',
            'portal-d-client-secret',
        ),
        'https://ezeml.edirepository.org': (
            'ezeml-client-id',
            'ezeml-client-secret',
        ),
        'https://ezeml-s.edirepository.org': (
            'ezeml-s-client-id',
            'ezeml-s-client-secret',
        ),
        'https://ezeml-d.edirepository.org': (
            'ezeml-d-client-id',
            'ezeml-d-client-secret',
        ),
        'https://web-x.edirepository.org': (
            'web-x-client-id',
            'web-x-client-secret',
        ),
        'https://web-d.edirepository.org': (
            'web-d-client-id',
            'web-d-client-secret',
        ),
        'http://localhost:8080': (
            'localhost-8080-client-id',
            'localhost-8080-client-secret',
        ),
    }
    # GITHUB_DISCOVERY_URL = 'https://api.github.com'
    GITHUB_AUTH_ENDPOINT = 'https://github.com/login/oauth/authorize'
    GITHUB_TOKEN_ENDPOINT = 'https://github.com/login/oauth/access_token'
    GITHUB_USER_ENDPOINT = 'https://api.github.com/user'
    # GITHUB_LOGOUT_ENDPOINT = 'https://github.com/login/oauth/logout'

    # Google OAuth client
    GOOGLE_CLIENT_ID = 'google-client-id'
    GOOGLE_CLIENT_SECRET = 'google-client-secret'
    GOOGLE_DISCOVERY_URL = (
        'https://accounts.google.com/.well-known/openid-configuration'
    )
    # GOOGLE_LOGOUT_ENDPOINT = 'https://accounts.google.com/Logout'

    # Orcid OAuth client
    ORCID_CLIENT_ID = 'orcid-client-id'
    ORCID_CLIENT_SECRET = 'orcid-client-secret'
    ORCID_DNS = 'https://orcid.org/'
    ORCID_AUTH_ENDPOINT = 'https://orcid.org/oauth/authorize'
    ORCID_TOKEN_ENDPOINT = 'https://orcid.org/oauth/token'

    # Microsoft OAuth client
    MICROSOFT_CLIENT_ID = 'microsoft-client-id'
    MICROSOFT_CLIENT_SECRET = 'microsoft-client-secret'
    MICROSOFT_AUTH_ENDPOINT = (
        'https://login.microsoftonline.com/common/oauth2/v2.0/authorize'
    )
    MICROSOFT_TOKEN_ENDPOINT = (
        'https://login.microsoftonline.com/common/oauth2/v2.0/token'
    )
    MICROSOFT_LOGOUT_ENDPOINT = (
        'https://login.microsoftonline.com/common/oauth2/v2.0/logout'
    )

    # Unit and integration test attributes
    TEST_USER_DN = 'test-user-dn'
    TEST_USER_BAD_O = 'test-user-bad-o'
    TEST_USER_BAD_UID = 'test-user-bad-uid'
    TEST_USER_PW = 'test-user-pw'
    TEST_TOKEN = 'uid=EDI,o=EDI,dc=edirepository,dc=org*https://pasta.edirepository.org/authentication*1558090703946*authenticated'
    TEST_AUTH_TOKEN = 'dWlkPUVESSxvPUVESSxkYz1lZGlyZXBvc2l0b3J5LGRjPW9yZypodHRwczovL3Bhc3RhLmVkaXJlcG9zaXRvcnkub3JnL2F1dGhlbnRpY2F0aW9uKjE1NTgwOTA3MDM5NDYqYXV0aGVudGljYXRlZA==-yUoVTpyVityVkfqOpGSPosJYzndBMdwoUTGB0osuqyCNOouPxRllz/pRklaEWqi+faNLGHh8Dzh7qrtxTLLDs+MpBXudaJIIQep6PNnvEDgasrTvA9KV/vnKsyDnu4VaJnyuoKGRryP6PXlJs8UTXhtGpRf2vnTM/oifeRx0NB3y7aEv3Xn85ogxl0MaeyXJFeQMAAyN9ahYgJUC4jFgCqYlLj/x0PAlXwq2C/AwnjC/XJ2mxEQm1E/RMY9Z9EjHx+dSruXEs3wQiBbnus7BPvJR84zqEjl3EYpYwmYRkLViDHYoGdbegcDfuUfKv4y5Hun+r0ICNt09nBV4wci3TQ=='
