/* Limit the width of paragraphs in the help section for better readability */
.narrow {
    max-width: 60rem;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.flash-highlight {
    background-color: rgba(0, 0, 0, 0.15);
    transition: background-color .3s ease-in-out;
}

.icon-text-button {
    margin-top: 1rem;
}

