/*
    Identity grid
*/

.grid {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    align-items: center;
    justify-items: left;
    gap: 1rem;
}

.grid-row {
    display: contents;
}

.grid-child {
    /* white-space: nowrap; */
    padding: 0 0 1rem 0;
}

.grid-child-span-all {
    grid-column: 1 / -1;
}

.grid-logo {
    height: 1rem;
}
