/*
    Main grid
*/

/*
    Valid to-from grid
 */

.dialog-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    row-gap: .2rem;
    width: 100%;
}

.value-grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1rem;
}

.wrap-col {
    white-space: wrap;
}

.highlight {
    font-weight: bold;
}

.preview {
    font-weight: bold;
    white-space: nowrap;
}

/*
    Copy new secret
*/

.copy-text-parent {
    max-width: unset;
}
