.indent {
    margin: 1rem 0 2rem 2rem;
}

.highlight {
    background-color: #00000020;
    padding: .2rem;
}

.form-select {
    width: fit-content;
    min-width: 10rem;
}

.form-control {
    width: auto;
    max-width: 12rem;
}
